* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


body {
    overflow-x: hidden;

}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}


.bottom {
    margin-top: 183px;
    padding-bottom: 40px;
}